{% extends 'base.html' %}
{% load static %}


{% block content %}
{{block.super}}

<style>

body{
  background: rgb(47,65,129);
  background: linear-gradient(14deg, rgba(47,65,129,1) 0%, rgba(167,87,192,1) 81%);
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  position: relative;
  float: right;
  
}

.navbar ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header{
  position: relative;
  float: right;
}

.p-body{
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding: 0%;
  letter-spacing: 9px;
}

.p-header{
  font-family: 'Rubik Dirt', cursive;
  font-size: 73px;
  letter-spacing: 21px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 17%;
}

.latest-articles{
  margin-top: 17%;
}
</style>

<body>
  
<section class="header">
  
    <div class="navbar">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
 
</section>

<section class="body-art">
  
  <p class="p-header"> OLUCHY'S BLOG</p>
  <p class="p-body">You are here...might as well look around</p>

</section>


<!-- ARTICLES SECTION -->
<section class="latest-articles">

  <h4 style="color: #fff; font-family: 'Playfair Display', serif; text-align: center;">LATEST ARTICLES</h4>
  <hr style="width:3%; background-color: #FFF; height: 2px; margin-left:48% !important; opacity: 1; margin-right:45% !important;"/>  
  <!-- cards-->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
   
</section>
</body>

{% endblock content %}