{% extends 'base.html' %}
{% load static %}


{% block content %}
{{block.super}}

<style>

body{
  background: rgb(47,65,129);
  background: linear-gradient(14deg, rgba(47,65,129,1) 0%, rgba(167,87,192,1) 81%);
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  position: relative;
  float: right;
  
}

.navbar ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header{
  position: relative;
  float: right;
}

.p-body{
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding: 0%;
  letter-spacing: 9px;
}

.p-header{
  font-family: 'Rubik Dirt', cursive;
  font-size: 73px;
  letter-spacing: 21px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 17%;
}

</style>

<body>
  
<section class="header">
  
    <div class="navbar">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
 
</section>

<section class="body-art">
  
  <p class="p-header"> OLUCHY'S BLOG</p>
  <p class="p-body">You are here, might as well look around</p>

</section>
</body>

{% endblock content %}